/*=================Commmon Style============= */
* {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #fff;
}
.header_top {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 13px;
  background-color: #445268;
  color: #fff;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

.header_top .left a {
  text-decoration: none;
  color: #fff;
}
.header_top .left i {
  margin-right: 5px;
}
.header_top .right a {
  text-decoration: none;
  color: #fff;
}
.header_middle {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  background-color: #445268;
  color: #fff;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #fff;
}
.header_middle_mobile {
  display: none;
}
.header_middle .logo {
  height: 40px;
  cursor: pointer;
}
.header_middle .logo img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.header_middle .help {
  background-color: #fff;
  color: #28a745;
  border: 1px solid #28a745;
  padding: 5px 8px 8px 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.header_middle .help i {
  margin-right: 5px;
}
.header_middle .help:hover,
.header_middle .profile:hover {
  background-color: #28a745;
  color: #fff;
}
.header_middle .profile {
  background-color: #fff;
  color: #28a745;
  border: 1px solid #28a745;
  margin-left: 5px;
  padding: 5px 8px 8px 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.header_middle .profile .f_user {
  margin-right: 5px;
}
.header_middle .profile .f_down {
  margin-left: 5px;
}
/* Mega Search bar design */
.header_middle .form-control {
  border: 1px solid #28a745;
  background-color: white !important;
  letter-spacing: 0.025em;
  font-weight: 500;
  font-size: 0.875rem;
  height: 40px !important;

  padding: 0px 10px;

  border-radius: 10px !important;
  outline: none !important;
}

.header_middle .input-group-text {
  display: flex;
  align-items: center;
  padding-right: 29px;
  padding-left: 29px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  height: 40px !important;
  z-index: 999;
  cursor: pointer;
}
.header_middle .input-group-text span {
  margin-left: 5px;
  font-weight: bold;
}
.header_middle .input-group-text:hover {
  background-color: #fff;
  color: #28a745;
}
.header_middle .form-control::placeholder {
  color: #c5c5c5;
}
.header_bottom {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  background-color: #313d51;
  color: #fff;
  border-bottom: 1px solid #fff;
  display: grid;
  grid-template-columns: 250px auto;
}
.header_bottom_mobile {
  display: none;
}
.header_bottom_left {
  font-size: 25px;
  background-color: #28a745;
  cursor: pointer;
  position: relative;
}
.hover_categories {
  background-color: #28a745;
  position: absolute;
  left: 0;
  top: 30;
  width: 250px;
  height: 350px;
  overflow-y: scroll;
}
.hover_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hover_categories ul li {
  color: #fff;
  padding-top: 0px;
  padding-bottom: 8px;
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
  border-top: 1px solid #fff;
}
.hover_categories ul li:hover {
  background-color: #fff;
  color: #28a745;
  border-top: 1px solid #28a745;
}
.hover_categories ul li a {
  cursor: pointer;
}
.hover_categories ul li img {
  width: 30px;
  height: 30;
  border-radius: 50%;
  margin-right: 15px;
}
.hover_categories ul li span {
  font-size: 16px;
}
.header_bottom_left:hover {
  background-color: #fff;
  color: #28a745;
}
.header_bottom_left i {
  margin-left: 10px;
  margin-right: 10px;
}
.header_bottom_left i:last-child {
  margin-top: 13px;
  float: right;
  margin-right: 10px;
  font-size: 20px;
}
.header_bottom_left .categories {
  padding-top: 2px;
}
.header_bottom_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding-bottom: -10px;
}
.header_bottom_right ul {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}
.header_bottom_right ul li {
  background-color: #fff;
  border: 1px solid #28a745;
  color: #28a745;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
  padding: 1px 10px 1px 10px;
  cursor: pointer;
}
.header_bottom_right ul li:hover {
  background-color: #28a745;
  color: #fff;
}
/* Herocarousol pRT */
.cat_banner {
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 250px auto;
  height: 300px;
  overflow: hidden;
}
.mobile_category {
  display: none;
}
.category {
  background-color: #fff;
  overflow-y: scroll;
  border-left: 1px solid #28a745;
}
.category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}
.category ul li {
  color: #28a745;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
  border-top: 1px solid #ddd;
}
.category ul li a {
  cursor: pointer;
}
.category ul li a label {
  cursor: pointer;
}
.category ul li:hover {
  color: #fff;
  background-color: #28a745;
}
.border_top {
  margin-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.border_top p {
  border-top: 2px solid #28a745;
}
.product_list {
  padding-left: 40px;
  padding-right: 40px;
}
.category_name {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: #28a745;
  margin-top: 10px;
}
.category_product {
  padding-bottom: 20px;
  border-bottom: 2px solid #28a745;
}
.product_parent {
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 5px;
}
.parent_single_product {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
}

.product_parent img {
  width: 100%;
  height: 100%;
}
.product_img img {
  height: 110px;
}
.category_img img {
  border-radius: 8px;
}
.single_product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
}
.single_product .product_title {
  height: 45px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #ddd;
  line-height: 17px;
  margin-top: 10px;
  padding-top: 10px;
}
.product_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.view_all {
  margin-top: -110px;
  background-color: #fff !important;
  margin-left: 40px;
  width: 160px;
  border: 1px solid #28a745 !important;
  font-weight: bold !important;
}
.view_all:hover {
  background-color: #28a745 !important;
  color: #fff !important;
}
.footer {
  margin-top: 20px;
}
.footer_top {
  background-color: #445268;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
}
.footer_top ul li {
  font-size: 14px;
  cursor: pointer;
}
.footer_top ul li:hover {
  color: #28a745;
}
.footer_top ul li h6 {
  cursor: auto;
  margin-bottom: 20px;
}
.footer_top ul li h6:hover {
  color: #fff;
}
.footer_top ul li i {
  margin-right: 10px;
}
.follow_us {
  color: #fff;
  margin-bottom: 20px;
}
.footer_top .social_icon a {
  margin-right: 5px;
  cursor: pointer;
}
.footer_top .social_icon img:hover {
  transform: scale(1.2);
}
.footer_top .social_icon img {
  width: 35px;
  height: 35px;
}
.follow_us {
  margin-bottom: 5px;
}
.app_store a {
  cursor: pointer;
}
.app_store img {
  width: 100px;
  height: 40px;
}
.footer_bottom {
  background-color: #313d51;
  color: #fff;
  padding: 5px 0px;
}
.body {
}
/* small caart */
.cart_mobile {
  display: none;
}
.cart_sm {
  display: inline-block;
  width: 80px;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.cart_sm .top {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-top-left-radius: 10px;
}
.cart_sm .middle {
  height: 60px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_sm .middle img {
  width: 35px;
  height: auto;
}
.cart_sm .bottom {
  background-color: #313d51;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-bottom-left-radius: 10px;
}
.cart_lg {
  display: grid;
  grid-template-rows: 45px auto 45px;
  width: 400px;
  height: 500px;
  overflow: hidden;
  background-color: yellow;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}
.cart_lg .top {
  background-color: #313d51;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart_lg .top img {
  width: 35px;
  height: 30px;
  margin-right: 10px;
}
.cart_lg .top span {
  font-weight: bold;
}
.cart_lg .top .cross {
  background-color: red;
  padding: 0 10px;
  cursor: pointer;
}
.cart_lg .middle {
  background-color: #ddd;
  overflow-y: scroll;
  border-left: 2px solid #28a745;
}
.cart_lg .middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cart_lg .bottom {
  padding-top: 7px;
  padding-left: 10px;
  background-color: #313d51;
}
.cart_lg .bottom span {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
}
/* cart design   */
.single_cart {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  display: grid;
  grid-template-columns: 70px auto 100px 30px;
}
.cart_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_img img {
  width: 60px;
  height: auto;
}
.cart_counter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_counter_inner {
  width: 80px;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.cart_increase a {
  cursor: pointer;
}
.cart_increase img {
  width: 20px;
  height: auto;
}
.cart_close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_close a {
  cursor: pointer;
}
.cart_close img {
  width: 20px;
  height: auto;
}
.cart_title h6 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.cart_title span {
  font-size: 12px;
  font-weight: bolder;
}
/* all products page  */
.all_product_page {
  padding-left: 40px;
  padding-right: 40px;
}
.add_banner {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  height: 250px;
}
.add_banner img {
  width: 100%;
  height: 100%;
}
.add_banner .right {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 2px;
}
.add_banner .right img {
  height: 122px;
}
.product_parent_all {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 5px;
}
.product_parent_all img {
  width: 100%;
}

.border_top_all {
  margin-top: 10px;
}
.border_top_all p {
  border-top: 2px solid #28a745;
}
/* authenticatio   */
.middle_vrhr {
  min-height: 400px;
  width: 100%;
  position: relative;
}
.vrhr_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #ddd;
  border: 1px solid #28a745;
  border-radius: 10px;
  padding: 15px;
}
.gender_align {
  display: flex;
  justify-content: flex-start;
}
.gender_align .form-check {
  margin-left: 10px !important;
}
.user_details {
  min-height: 700px;
}

/* user dahsdoard desing   */
.user_dashboard {
  background-color: #ddd;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 280px auto;
  grid-column-gap: 25px;
}
.user_dashboard .up {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #445268;
}
.user_dashboard .down {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #445268;
  margin-top: 20px;
  height: 400px;
}
.user_dashboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.user_dashboard ul li {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}
.user_dashboard ul li:hover,
.user_dashboard .d_active {
  background-color: #28a745;
  color: #fff;
}
.user_dashboard .d_header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #445268;
  height: 57px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.user_dashboard .d_header p {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.user_dashboard .user_info {
  margin-top: 20px;
}
.user_dashboard .d_info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  margin-bottom: 10px;
}
.user_dashboard .d_info > div {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.order_parent {
  background-color: #ddd;
}
.order_info {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.order_info .order_header {
  border-bottom: 1px solid #ddd;
}
.order_info .status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}
.order_info .status p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}
.order_info .status p:last-child {
  font-size: 10px;
  font-weight: 300;
}
.order_info .status_circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_info .status_circle > div {
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_info .status_circle > div i {
  font-size: 18px;
}
.order_info .status_progress {
  /* border-bottom: 1px solid #ddd; */
  /* padding-bottom: 10px; */
  margin-top: 10px;
}

.d_product {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.d_single_product {
  border: 1px solid #28a745;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
}
.d_img {
  height: 100px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2px;
}
.d_img img {
  width: 100%;
  height: 100%;
}
.d_content {
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
.d_price {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.logout_mo {
  display: none;
}
.change_info {
  margin-left: 5px;
}
.order_id_mobile {
  display: none;
}
